<h1> SHow page for the guests of <%= @receipt.id %></h1>

<ul>
  <% @guests_per_receipt.each do |guest| %>
    <li><%= guest.name %></li>
  <% end %>
</ul>

<!-- From here, users should have the option to add an additional guest or change the information for an existing guest, including deleting that guest. -->
