<p>Splitting page!!!</p>

<p><%= @current_guest.name %></p>
<p><%= @current_receipt.id %></p>

<ul>
  <% @list_items.each do |line| %>
    <% line.quantity.times do %>
      <li><%= line.description %></li>
    <% end %>
  <% end %>
</ul>

<!-- This page should redirect to guests#index when this is completed.  -->
