<h4>Welcome to RestEasy, where we split your restaurant receipt for you so you can enjoy the meal like intended </h4>

<i class="fa fa-camera" aria-hidden="true"></i>

<p>Begin by uploading your receipts, or check out past receipts you have split with us</p>
