@import url("https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise");
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");


@import "bootstrap-sprockets";
@import "bootstrap";

// GENERAL

// NAV BAR

.navbar {
  background-color: #F6B540 ;
  margin-bottom: 2%

}

.nav-text {
  color: #415867;
  font-family: 'Josefin Slab', serif;
}

.nav-text:hover {
  color: #457394;
}

.labels{
  font-family: 'Josefin Slab', serif;
}

.text {
  font-family: 'Josefin Slab', serif;
}

.important {
  font-weight: bold;
}

.to-pop {
  background-color: #F3722D;
  color: #415867;
  padding: 2%;
  border-color: #91C1DB;
  border-width: 2px 10px 4px 20px;
  border-radius: 10px
}

// buttons

// text buttons
.btn-primary {
  font-family: 'Josefin Slab', serif;
  background-color: #457394;
  border-color: #457394;
  margin: 1%;
}

// for the most important text buttons
.btn-important {
  border-width: 4px;
  border-color: #F3722D;
  font-weight: bold;

}

// icon button
.btn-danger {
  background-color: #F3722D;
  border-color: #F3722D
}

.btn-danger:hover {
  background-color: #F3722D;
  border-color: #F3722D;
  color: red;
}

.blue-button-icon {
  text-align: center;
  background-color: #457394;
  color: white;
  margin: 2%;
}

// also a button - getting rid of this gets ride of blue button icon on home page - weird.
.receipt-icon {
  background-color: #457394;
  color: white
}

.button-icon {
  padding: 3%;
  margin: 1%
}


// HEADER

.logo {
  font-family: 'Waiting for the Sunrise', serif;
  text-align: center;
  color: #415867
}

// Receipt#index
.receipt {
  font-family: 'Overpass Mono', monospace;
  background-color: white;
  color: #3B3C36;
  margin: 2%;
  padding: 2%;
}

table.table-responsive {
  padding: 3px;
  border-color: white;
  border-width: 10px;
}

tr.receipt {
  margin: auto;
}

.receipt-text {
  text-align: center;
}

.receipt-text-link {
  font-family: 'Overpass Mono', monospace;
  text-align: center;
  color: #3B3C36;
}

.receipt-buttons {
  text-align: center;
}

.center {
  text-align: center;
}

// called on buttons for form_tags - always called with the table and should look like it't included

// ListItem#Index
.table {
  padding: 3%
}


// BODY
body {
  background-color: #DCDCDC
}



.button {
  font-family: 'Waiting for the Sunrise', serif;
  background-color: #337ab7;
  color: white;
}

.notice {
  color: red;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

body {
  font-size: 16px;
}

td.input input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

// For Home Page Main#index
.fa-camera {
  font-size: 1.5em;
  text-align: center;
}

// For SPLITTING RECEIPT
.claimed {
  background-color: #808080;
}

footer {
  background-color: #F6B540 ;
  padding: 2%;
  bottom:0;
  width:100%;
}

.credit-logo {
  height: 3rem;
}
