@import url("https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise");
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono");


@import "bootstrap-sprockets";
@import "bootstrap";



.logo {
  font-family: 'Waiting for the Sunrise', serif;
  text-align: center;
}

.receipt {
  font-family: 'Overpass Mono', monospace;;
}

.button {
  font-family: 'Waiting for the Sunrise', serif;
  background-color: #337ab7;
  color: white;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

body {
  font-size: 16px;
}

td.input input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

// For Home Page Main#index
.fa-camera {
  font-size: 1.5em;
  text-align: center;
}

// For SPLITTING RECEIPT
.claimed {
  background-color: purple;
}
