/* Font for receipt writing*/
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Athiti');

.logo {
  font-family: 'Caveat';
  text-align: center;
}

body {
  font-family: 'Athiti';
}
