@import url("https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise");
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono");


@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
  font-family: 'Waiting for the Sunrise', serif;
  text-align: center;
}

.receipt {
  font-family: 'Overpass Mono', monospace;;
}

.button {
  font-family: 'Waiting for the Sunrise', serif;
  background-color: #337ab7;
  color: white;
}

// For SPLITTING RECEIPT
.claimed {
  background-color: purple;
}
