<h1>Splitting page!!!</h1>

<div class="container">
  <div class="well">
    <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-product"></div>

</div>
<div id="new guest" class="modal fade"></div>
