<!DOCTYPE html>
<html>
<head>
  <title>RestEasy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<header>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header row">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span><i class="fa fa-home" aria-hidden="true"></i> lHome</span></a></li>
            <li><a href="/receipts"><i class="fa fa-list" aria-hidden="true"></i>  All Receipts</a></li>
            <!-- TODO change the route of the information. Will be a modal -->
            <li><a href="/receipts"><i class="fa fa-info" aria-hidden="true"></i>    Information</a></li>

            <% if session[:user_id] == nil %>
            <li><a href="/auth/google"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login/Sign Up</a></li>
            <% else %>
            <li><a href="/sessions/" rel="nofollow" data-method="delete"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            <% end %>
          </ul>

        </div>

        <div class="col-xs-12 col-l-6">

        </div>

      </div>
    </div>
  </nav>

  <h1 class = "logo">Rest Easy</h1>
  <h5 class = "logo">while we split your receipt for you</h5>


</header>
<body>

  <div class="container" style="padding-top:20px;">
    <%= yield %>
  </div>
</body>
</html>
